    <!--Page Content-->
    <div class="about page-content">
      <!--About Info-->
      <section class="space-top space-bottom container">
        <h2>{$error}</h2>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            {$error_desc}
          </div>
        </div>
      </section><!--About Info Close-->


    </div><!--Page Content Close-->
