/*
 *
 *   InfoUnion Admin Theme
 *   Copyright 2015 voloshanivsky@gmail.com
 *
*/

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
  white-space: nowrap;
}
/**** mini change toast ****/
#toast-container.toast-bottom-full-width > div, #toast-container.toast-top-full-width > div {
  width: 100%;
}
.toast-top-full-width {
  padding: 0px 20px 0px 240px;
}
.mini-navbar .toast-top-full-width {
  padding: 0px 20px 0px 90px;
}
#toast-container > .toast-error:before {
  content: "\f071";
}
.dd-handle:hover {
  font-weight: normal;
}
.align-center {text-align: center !important;}
.profile-element .img-circle {width:48px;}
#debug {width:100%}

.skin-1 .navbar-minimalize, .skin-3 .navbar-minimalize {
    color: inherit;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E7EAEC;
}
.skin-2 .navbar-minimalize {
    color: #F6F6F6 ;
    background: #2f4050 none repeat scroll 0% 0%;
    border: 1px solid #2f4050;
}
/* last column with buttons*/
.two-btn {width:70px;}
.three-btn {width:100px;}
.four-btn {width:140px;}

/*.note-editor:focus {
  border-color: #1AB394;
}*/
.note-editor {
  border: 1px solid #E5E6E7;
/*  min-height: 150px;*/
}
.pull-top {vertical-align: top;}
.p-b-lg {
  padding-bottom: 30px !important;
}
.p-b-md {
  padding-bottom: 25px !important;
}
.cursor-pointer {cursor: pointer;}

.navbar-static-side {width:275px}
#page-wrapper {margin-left: 275px;}
.pace .pace-progress {left: 275px;}

.nav.nav-second-level, .nav.nav-third-level {font-size: 12px;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-bottom-color: white;}

.title-action .btn {margin-left: 16px;}

a:not(.btn) > i {margin-right: 5px;}

.table-gallery td {vertical-align: top;padding-bottom: 20px;}

.color-change {width:32px;height:32px;border:1px solid #333;}
.color-list {width:20px;height:20px;border:1px solid #333;float:left;margin-right: 10px;}

.fixed-button-group {
position: fixed;
width: 100%;
background-color: rgb(47, 64, 80);
margin-left: 0px;
left: 0px;
padding: 10px 15px;
bottom: 0px;
text-align: right;
z-index: 2;
}

select {
  width: auto !important;
}

.row-grey td {
  background-color: #e7eaec;
}

.select-100 select {
  width: 100% !important;
}

.tab-content>.form-group>div>.tab-pane,
.tab-content>.panel>.panel-body>table>tbody>tr>td>.tab-pane {
    display: none;
    visibility: hidden;
}
.tab-content>.panel>.panel-body>table>tbody>tr>td>.active,
.tab-content>.form-group>div>.active {
    display: block;
    visibility: visible;
}
.tab-content>.panel>.panel-body>table>tbody>tr>td>.active>span,
.tab-content>.panel>.panel-body>table>tbody>tr>td>.active>input {
  display: table-cell;
    visibility: visible;
}

.fixed-button-group {
position: fixed;
width: 100%;
background-color: rgb(47, 64, 80);
margin-left: 0px;
left: 0px;
padding: 10px 15px;
bottom: 0px;
text-align: right;
z-index: 2;
}

select {
  width: auto !important;
}

.row-grey td {
  background-color: #e7eaec;
}

.table > tbody > tr > td > .i-checks {
  margin: 0px;
}

.text-right {text-align: right !important;}
.text-left {text-align: left !important;}
.fa-eye-slash {color: red !important;}

.margin-0 {margin: 0px !important;}

.avatar-view {
  display: inline-block;
  float: left;
  /*margin: 15% auto 5%;*/
  max-height: 220px;
  max-width: 220px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.avatar-view img {
  width: 100%;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview, .old_preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
.old_preview{
  width: 200px;
  height: auto;
}

.avatar-preview:hover, .old_preview:hover  {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img, .old_preview img, .original_preview img{
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 211px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}
.toggle_hide{
  display: none;
}
.original_preview{
  display: inline-block;
  float: left;
}
.modal-body.modal-body-pict, .avatar-btns{
  padding:  0px;
  margin:   10px 0px;
}
.modal-body-pictnew {
  padding: 0px;
}
.cropper-view-box{
  outline: 3px solid red;
  outline-color: red;
}